<!DOCTYPE html>
<html>
<head>
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>
<div id="app">
    <h1>{{ message }}</h1>
    <input v-model="message">

    <!--<pre>{{ $data | json }}</pre>-->

    <ul>
        <li v-for="bear in bears" :class="{ strike: bear.deleted }">{{ bear.name }}</li>
    </ul>

</div>
<script src="js/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            message: "Hello World!",
            bears: [
                {
                    name: "Белый",
                    deleted: false
                },
                {
                    name: "Гризли",
                    deleted: false
                },
                {
                    name: "Панда",
                    deleted: true
                },
                {
                    name: "Губач",
                    deleted: false
                }
            ]
        }
    });
</script>
</body>
</html>